.navbar {
    background-color: #660000;
    font-weight: 600;
}

.bg-color {
    background-color: #330000;
    color: white;
}

.form {
    margin: auto 25px;
}

.header-container {
    text-align: center;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 500px;
    color: white;
    margin: 75px auto 25px auto;
}

.navbar-brand {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.section-title {
    text-align: center;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding: 25px;
}