.navbar {
    background-color: #330000;
}

.bg-color {
    background-color: #660000;
}

.form {
    margin: auto 25px;
}

.header-container {
    text-align: center;
    font-family: "Rock Salt", cursive;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin: 85px auto 30px auto;
}

.navbar-brand {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar-section-title {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.section-title {
    text-align: center;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding-top: 75px;
    font-size: 50px;
}

.gif-item {
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    padding: 5px;
}

.sticker-item {
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    padding: 5px;
}